<div class='title_tools'>
	<a class="btn btn-large btn-warning" <%= link_to(t('discharge.sent'), sent_discharge_path) %> </a>
</div>

<div class='title_page'>
	<span> <%= t('discharge.title') %> </span>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('discharge.filename') %></th>
      <th><%= t('discharge.processed_at') %></th>
      <th><%= t('status') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @discharges.nil? %>
      <% @discharges.each do |discharge| %>
        <tr>
          <td><%= discharge.id %> </td>
          <td><%= discharge.filename %> </td>
          <td><%= discharge.processed_at.to_date.to_s_br if discharge.processed_at %> </td>
          <td><%= t('discharge.status.'<< discharge.status) %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
