<br>
<div class='title_tools'>
  <a class="btn btn-large btn-default" <%= link_to(t('debtor.new_ticket'), new_ticket_path(@debtor.id)) %> </a>
</div>

<div class='subtitle_page'> <%= t('debtor.title_show_2') %> </div>

<div class='list1'>
	<% @tickets.each do |ticket| %>
		<li>
			<div class='strip' id='none'> <%= ticket.id %> </div>

			<div class='tools'>
				<%= link_to(t('menu.edit'), edit_ticket_path(ticket), class: "btn btn-xs btn-default") unless ticket.contract_id %>
			</div>

			<div class='indent'>
        <% if ticket.paid? %>
          <span class="label label-success"><%= t('ticket.status.paid') %></span>
        <% else %>
          <span class="label label-primary"><%= t('ticket.status.' << ticket.status) %></span>
        <% end %>        
        &dash;
        <%= ticket.student.name if ticket.student %>
        &bull;
        <%= ticket.course.name if ticket.course %>
        &bull;
        <%= ticket.description %>
        &bull;
        <%= ticket.document_number %>
        &bull;
        <%= ticket.amount_principal.real_contabil %>
        &bull;
        <%= ticket.due_at.to_s_br %>
        &bull;
        <%=  'Contrato nro ' << ticket.contract_id.to_s if ticket.contract_id %>
				<tt></tt>
				<dt></dt>
			</div>
		</li>
	<% end %>
</div>
