<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Documento</th>
      <th>Aluno</th>
      <th>Vencimento</th>
      <th>Meses</th>
      <th>Principal</th>
      <th>Correção</th>
      <th>Juros</th>
      <th>Multa</th>
      <th><%= 'Taxa(' + number_to_currency(session[:tax], unit: '' ) + ')' %></th>
      <th>Valor Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td>
          <% if ticket.charge %>
            <div class='strip green'> <%= 'COBRAR' %> </div>
          <% else %>
            <div class='strip red' id='none'> <%= 'NÃO COBRAR' %> </div>
          <% end %> 
        </td>    
        <td><%= ticket.id %>
        <td><%= ticket.document_number %> </td>
        <td><%= ticket.student.name if ticket.student %> </td>
        <td><%= ticket.due_at.to_s_br %> </td>
        <td><%= calc_meses_atraso(ticket, nil, @date_current) %> </td>
        <td><%= ticket.amount_principal.real %> </td>
        <td><%= calc_correcao(ticket, nil, @date_current).real %> </td>
        <td><%= calc_juros(ticket, nil, @date_current).real %> </td>
        <td><%= calc_multa(ticket, nil, @date_current).real %> </td>
        <td><%= calc_taxa(ticket, nil, @date_current).real %> </td>
        <td><%= calc_ticket(ticket, nil, @date_current).real %> </td>
        <td><%= link_to(ticket.charge ? 'Marcar NÃO COBRAR' : 'Marcar COBRAR', set_charge_ticket_path(ticket), class: "btn btn-xs btn-default", remote: true, method: :patch ) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> <%= session[:value_ticket].real %></td>
      <td> <%= session[:total_correcao].real %></td>
      <td> <%= session[:total_juros].real %> </td>
      <td> <%= session[:total_multa].real %> </td>
      <td> <%= session[:total_taxa].real %> </td>
      <td> <%= session[:total_ticket].real %></td>
      <td></td>
    </tr>
  </tfoot>  
</table>

<%= render 'deal_tickets_total' %>

