<div class='title_tools'>
  <a class="btn btn-large btn-default" <%= link_to(t('deal.recalculate'), :back) %> </a>
  <a class="btn btn-large btn-default" <%= link_to(t('deal.create_proposal'), create_proposal_path, method: :post ) %> </a>
  <a class="btn btn-large btn-success" <%= link_to(t('deal.create_contract'), create_contract_path, method: :post ) %> </a>
</div>

<br>
<div class='subtitle'> <%= t('deal.ticket') %> </div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Valor de Parcela</th>
      <th>Vencimento</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Totais</td>
      <td><%= @bank_slips.map{|i|i[:amount_principal]}.inject(:+).real if @bank_slips %></td>
      <td></td>
    </tr>
  </tfoot>  
  <tbody>
    <% unless @bank_slips.nil? %>
      <% @bank_slips.each do |bank_slip| %>
        <tr>
          <td><%= bank_slip[:id] %> </td>
          <td><%= bank_slip[:amount_principal].real %> </td>
          <td><%= bank_slip[:due_at].to_s_br %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
