<br>

<%= simple_form_for(
    :calc,
    url: deal_path(@debtor),
    method: :get,
    html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <%= f.error_notification %>

  <div class='section'>
    <%= f.input :date_current, as: :string, label: 'Data base para efetuar os cálculos: ' << @date_current.to_s_br, hint: 'Clique aqui para informar outra data base.'  %>
    <%= f.input :tax, label: 'Percentual de Taxa da Negociação:', input_html: { value: session[:tax] } %>

    <div class='buttonbar'>
      <%= f.button :submit, 'Atualizar data base de cálculo e Taxa', class: 'btn-primary' %>
    </div>
  </div>
<% end %>

<br>
