<div id='table-ticket-simul'>
  <div class='subtitle'> <%= t('deal.ticket') %> </div>
  <br>
  <%= bootstrap_form_tag url: get_tickets_simul_path, method: 'get', remote: true do |f| %>
    <%= f.number_field :ticket_quantity, label: t('deal.ticket_quantity') %>
    <%= f.date_field :ticket_due, label: t('deal.ticket_due_at') %>

    <%= f.form_group do %>
      <% if @date_current == Date.current %>
        <%= f.submit t('menu.tickets') %>
      <% else %>
        <%= '**Permite Gerar Parcelas somente quando data base de cálculo for igual data de hoje.' %>
      <% end %>
    <% end %>
  <% end %>

</div>
