<div class='title_tools'>
    <a class="btn btn-large btn-warning" <%= link_to(t('home.history.new'), new_history_path) %> </a>
</div>

<div class='title_page'> <%= t('home.history.title') %> </div>
<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Colaborador</th>
      <th>Histórico</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @histories.nil? %>
      <% @histories.each do |history| %>
        <tr>
          <td><%= history.created_at.to_s_br %> </td>
          <td>
            <%= history.user.name if history.user.present? %>
          </td>
          <td><%= history.word.name if history.word.present? %> </td>
          <td><%= history.description %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
