<div class="col-md-12">
  <div class='subtitle'> <%= 'Últimos Históricos' %> </div>
  <table class="table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Devedor</th>
        <th>Colaborador</th>
        <th>Histórico</th>
      </tr>
    </thead>
    <tbody>
      <% unless @histories.nil? %>
        <% @histories.each do |history| %>
          <tr>
            <td><%= history.history_date.to_s_br %> </td>
            <td><%= link_to(history.debtor.name, show_path(history.debtor)) if history.debtor.present? %> </td>
            <td><%= history.user.name if history.user.present? %> </td>
            <td><%= history.description %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
