<div class='subtitle_page'> <%= t('home.ticket_open') %> </div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Vencimento</th>
      <th>Documento</th>
      <th>Aluno</th>
      <th>Atraso(Mes)</th>
      <th>Principal</th>
      <th>Correção(IGP-M)</th>
      <th>Juros(1%)</th>
      <th>Multa(2%)</th>
      <th>Taxa(10%)</th>
      <th>Valor Total</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %> </td>
        <td><%= ticket.due_at.to_s_br %> </td>
        <td><%= ticket.document_number %> </td>
        <td><%= ticket.student.name if ticket.student %> </td>
        <td><%= calc_meses_atraso(ticket, nil, nil) %> </td>
        <td><%= ticket.amount_principal.real %> </td>
        <td><%= calc_correcao(ticket, nil, nil).real %> </td>
        <td><%= calc_juros(ticket, nil, nil).real %> </td>
        <td><%= calc_multa(ticket, nil, nil).real %> </td>
        <td><%= calc_taxa(ticket, nil, nil).real %> </td>
        <td><%= calc_ticket(ticket, nil, nil).real %> </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> <%= session[:value_ticket].real %></td>
      <td> <%= session[:total_correcao].real %> </td>
      <td> <%= session[:total_juros].real %> </td>
      <td> <%= session[:total_multa].real %> </td>
      <td> <%= session[:total_taxa].real %> </td>
      <td> <%= session[:total_ticket].real %></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>  
</table>
