
<div class='title_page'> <%= t('home.contract.title') %> </div>
<table class="table">
  <thead>
    <tr>
      <th>Contrato</th>
      <th>Situação</th>
      <th>Nro Original</th>
      <th>Data Contrato</th>
      <th>Parcelas</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <% if @contracts.nil? %>
      'Nenhum CONTRATO gerado.'
    <% else %>
      <% @contracts.each do |contract| %>
        <tr>
          <td><%= contract.id %> </td>
          <td>
            <% if contract.paid? %>
              <a class="label label-success"><%= t('contract.status.paid') %></a>
            <% else %>
              <%= t('contract.status.' << contract.status) %>
            <% end %>
          </td>
          <td><%= contract.origin_code %> </td>
          <td><%= contract.created_at.to_s_br %> </td>
          <td><%= contract.ticket_quantity %> </td>
          <td><%= contract.amount_principal.real %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
