
<div class='title_page'> <%= t('home.contract.title') %> </div>
<table class="table">
  <thead>
    <tr>
      <th>Contrato</th>
      <th>Situação</th>
      <th>Data Contrato</th>
      <th>Parcelas GMA</th>
      <th>Valor GMA</th>
      <th>Parcelas Cliente</th>
      <th>Valor Cliente</th>
    </tr>
  </thead>
  <tbody>
    <% if @contracts.nil? %>
      'Nenhum TERMO gerado para o contribuinte.'
    <% else %>
      <% @contracts.each do |contract| %>
        <tr>
          <td><%= contract.id %> </td>
          <% if contract.active? %>
            <td><%= link_to(t('contract.status.' << contract.status) << ' - Ver Contrato', contract_path(contract)) %> </td>
          <% else %>
            <td><%= t('contract.status.' << contract.status) %></td>
          <% end %>
          <td><%= contract.contract_date.to_s_br %> </td>
          <td><%= contract.unit_ticket_quantity %> </td>
          <td><%= contract.unit_amount.real %> </td>
          <td><%= contract.client_ticket_quantity %> </td>
          <td><%= contract.client_amount.real %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
