<div class='title_tools'>
  <a class="btn btn-large btn-warning" <%= link_to(t('deal.root'), show_path(@debtor)) %> </a>
</div>

<div class='title_page'>
  <span> <%= t('deal.title') << ' - ' << @debtor.name.upcase %> </span>
</div>

<br>

<div class="row marketing">

  <div class="col-sm-6 col-md-3">
    <div class="panel panel-primary" id="task-debtor">
      <%= render 'show_debtor' %>    
    </div>
  </div>

  <div class="col-sm-6 col-md-9">

    <div class='subtitle'> <%= t('deal.tickets') %>  </div>

    <div id='form-deal-date_calc'>
      <%= render 'deal_date_calc' %>
    </div>

    <div id='form-deal-tickets'>
      <%= render 'deal_tickets' %>
    </div>

    <div id='form-deal-tickets-simul'>
      <%= render 'deal_tickets_simul' %>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-2" id="form-deal-charge-ticket" style="display:none;">
        <%= render 'deal_charge_ticket' %>
      </div>
    </div>

    <div id='form-deal-tickets-gen' style="display:none;">
      <%= render 'deal_tickets_gen' %>
    </div>

    <%= render 'histories' %>

  </div>
</div>

<script type="text/javascript">
  $(function() {
  $( '#simul_bank_slip_due_at' ).datepicker({
    dateFormat: "dd/mm/yy",
        autoclose: true,
        showButtonPanel: true,
        numberOfMonths: 3,
        minDate: 0,
        showWeek: true,
      firstDay: 1
    });
  });


$(function() {
    $( '#calc_date_current' ).datepicker({
    dateFormat: "dd/mm/yy",
        autoclose: true,
        showButtonPanel: true,
        numberOfMonths: 3,
        minDate: 0,
        showWeek: true,
      firstDay: 1
    });
  });

</script>
