<div class='title_tools'>
  <button class="btn btn-success" type="button">
    Contratos Fechados Hoje: &nbsp; <span class="badge"> <%= @count_contracts_day %> </span>
  </button>
  <button class="btn btn-primary" type="button">
    Contratos Fechados no MES: &nbsp; <span class="badge"> <%= @count_contracts_month %> </span>
  </button>
  <a class="btn btn-large btn-default" <%= link_to(t('menu.search'), root_path ) %> </a>
</div>

<div class='title_page'>
  <span> Dashboard de <%= current_user.name.upcase %> </span>
</div>

<% if @debtor %>

  <div class='title'>
    <br>
    <span> <%= 'Informações sobre Responsável Financeiro - ' << @debtor.name.upcase %> </span>
  </div>

  <div class='title_tools'>
    <a class="btn btn-large btn-warning" <%= link_to(t('home.deal'), deal_url(cod: @debtor.id)) %> </a>
  </div>

<% end %>


<% if @debtor.nil? %>
  <div class='subtitle'> <%= t('home.search.title') %> </div>
  <div class='section'>
    <%= bootstrap_form_tag url: filter_name_home_index_path, method: 'get', layout: :inline do |f| %>
      <%= f.search_field :name, placeholder: 'Procure pelo nome do Responsável Financeiro...', size: 70, skip_label: true %>
      <%= f.search_field :cpf, placeholder: 'Procure pelo CPF...', size: 20, skip_label: true %> 
      <%= f.primary t('menu.search') %>
    <% end %>
  </div>

  <div class='list1'>
    <% unless @debtors.nil? %>
      <div class='subtitle'> <%= 'Responsáveis Financeiros Encontrados' %> </div>

      <% @debtors.each do |debtor| %>
        <li>
          <div class='strip' id='none'> <%= debtor.id %> </div>

          <div class='indent'>
            <%= link_to(debtor.name, show_path(debtor)) %>
              &bull;
            <tt>
              <%= debtor.cnpj ? debtor.cnpj : debtor.cpf %>
              &bull;
              <%= debtor.address %> &dash;
              <%= debtor.address_number %> &dash;
              <%= debtor.address_complement %>
              &bull;
              <%= debtor.state  %>
            </tt>
            <dt>
            </dt>
          </div>
        </li>
      <% end %>

      <% unless @debtors.empty? %>
        <div class="apple_pagination">
          <%= will_paginate @debtors, :container => false %>
        </div>
        <br>
      <% end %>

    <% end %>
  </div>



  <div class="row">
    <%= render 'contract_deal_month' %>
    <%= render 'contract_deal_today' %>
  </div>

  <div class="row">
    <%= render 'last_histories' %>
  </div>

<% end  %>


<% if @debtor %>
  <div class="row marketing">
    
    <div class="col-sm-6 col-md-3">
      <br>
      <div class="panel panel-primary">
        <%= render 'show_debtor' %> 
      </div>
    </div>

    <div class="col-sm-6 col-md-9">
   
      <%= render 'show_tickets' %> 
      <%= render 'show_contract_tickets' %> 
      <%= render 'show_contracts' %> 
     
    </div>
  </div>
<% end %>
