<%= simple_form_for(
    @customer, 
    html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <%= f.error_notification %>

  <div class='section'>
    <%= f.input :unit_id, as: :hidden %>
    <%= f.input :full_name, :label => t('customer.full_name') %>
    <%= f.input :name, :label => t('customer.name') %>
    <%= f.input :cnpj, :label => t('cnpj'), size: 20 %>
    <%= f.input :cpf, :label => t('cpf') %>
    <%= f.input :zipcode, :label => t('zipcode')  %>
    <%= f.input :address, :label => t('address')  %>
    <%= f.input :address_number, label: t('address_number') %>
    <%= f.input :address_complement, :label => t('address_complement') %>
    <%= f.input :neighborhood, :label => t('neighborhood') %>
    <%= f.input :city_name, :label => t('city_name')  %>
    <%= f.input :state, :label => t('state') %>
    <%= f.input :phone_number, :label => t('phone') %>
    <%= f.input :email, :label => t('email') %>
    <%= f.input :fl_charge_monetary_correction, as: :boolean, :label => t('customer.fl_charge_monetary_correction') %>
    <%= f.input :fl_charge_interest, as: :boolean, :label => t('customer.fl_charge_interest') %>
    <%= f.input :fl_charge_fine, as: :boolean, :label => t('customer.fl_charge_fine') %>
    <%= f.input :fl_charge_tax, as: :boolean, :label => t('customer.fl_charge_tax') %>


    <div class="actions">
      <div class='buttonbar'>
        <%= f.button :submit, t('menu.save'), class: 'btn-primary' %>
        <%= 'ou' %>
        <%= link_to t('menu.cancel'), customers_path %>
      </div>
    </div>
  </div>
<% end %>
