<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ticket.amount %>
</p>

<p>
  <strong>Debtor:</strong>
  <%= @ticket.debtor %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @ticket.document_number %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @ticket.due_at %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @ticket.charge %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
