<div class='title_tools'>
  <%= link_to(t('proposal.index'), proposals_path, class: "btn btn-large btn-warning") %>
  
  <% if @proposal.active? %>
    <%= link_to('Gerar Contrato', create_contract_from_proposal_path(@proposal.id), method: 'post', class: "btn btn-large btn-success") %>
  <% end %>

  <% if @proposal.active? %>
    <%= link_to('Cancelar Proposta', cancel_proposal_path(@proposal.id), method: 'post', class: "btn btn-large btn-danger", data: {confirm: 'Você tem certeza de que deseja CANCELAR a proposta gerada?'}) %>
  <% end %>

</div>

<div class='title_page'> <%= t('proposal.show') %> </div>

<div class='section'>
  <div class='label1 top req'> <%=t("id") %>: </div>
  <%= @proposal.id %>
  
  <div class='label1 top req'> <%=t("status") %>: </div>
  <% if @proposal.contract? & @proposal.contract_id %>
    <span class="label label-success"><%= link_to( t('proposal.status.'<< @proposal.status, :contract => @proposal.contract_id), contract_path(@proposal.contract_id)) %> </span> 
  <% elsif @proposal.cancel? %>
    <span class="label label-danger"><%= t('proposal.status.'<< @proposal.status) %> </span> 
  <% else %>
    <span class="label label-primary"><%= t('proposal.status.'<< @proposal.status) %> </span> 
  <% end %>
  
  <div class='label1 top req'> <%=t("proposal.contract_date") %>: </div>
  <%= @proposal.created_at.to_s_br %>

  <div class='label1 top req'> Responsável Financeiro: </div>
  <%= link_to(@proposal.debtor.origin_code.to_s << " - " << @proposal.debtor.name, show_path(@proposal.debtor_id)) %>
  
  <div class='label1 top req'> <%=t("user.name") %>: </div>
  <%= @proposal.user ? @proposal.user.name : 'ADMIN'  %>
	
  <div class='label1 top req'> Valor da Proposta: </div>
  <%= @proposal.client_amount.real %>
	
  <div class='label1 top req'> Quntidade de Parcelas: </div>
  <%= @proposal.client_ticket_quantity %>
</div>


<div class='subtitle'> <%= 'Parcelas' %> </div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Vencimento</th>
      <th>Valor de Parcela</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless @proposal_tickets.nil? %>
      <% @proposal_tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.ticket_number %> </td>
          <td><%= ticket.due_at.to_date.to_s_br %> </td>
          <td><%= ticket.amount.real %> </td>
          <td>
            <% unless @proposal.contract? %>
              <div class='tools'>
                <%= link_to(t('menu.edit'), edit_proposal_ticket_path(ticket), class: "btn btn-xs btn-default") %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
