<nav class="navbar navbar-default navbar-fixed-top">
  <h1 class="navbar-brand mb-0" href="#"><%= current_user.unit.present? ? current_user.unit.name : 'Powertask' %></h1>
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              <strong><%= current_user.name %></strong>
              <strong>
                <% if current_user.admin? %> (ADMIN)
                <% elsif current_user.user? %> (COLABORADOR)
                <% elsif current_user.client? %> (CLIENTE)
                <% else %> (NAO DEFINIDO)
                <% end %>
              </strong>
            </a>
          </li>
          
          <li class='active'><%= link_to "Início", root_path %></li>
          <%= render "layouts/menu" %>
          <li class='active'><%= link_to t("logout", default: "Logout"), destroy_user_session_path, method: :delete %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
