<!DOCTYPE html>
<html>
  <head>
    <title>CobraSeguro</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

	<body>
		<% unless user_signed_in?  %>
			<%= render "layouts/tabless" %>
		<% else %>
			<%= render 'layouts/header' %>
			<%= render "layouts/tabbed" %>
		<% end %>
	</body>
</html>
